

#search
    padding-top: 80px
    background-color: white
    height: 100%

    form
        width: 100%

        div
            width: 100%
            height: 60px
            border: #F2F2F2 3pt solid
            border-radius: 55px
            text-indent: 60px

        input
            width: 90%

        .input-field input[type=text]:focus 
            border-bottom: none
            box-shadow: none
        
    
