
<div class="row" id="search">

    <div class="col s10 offset-s1">

        <form [formGroup]="searchFormGroup" (keydown.enter)="search()" class="full-width" appearance="fill">
            <div>
                <input placeholder="Search for Equipments" formControlName="searchValue">
                <button mat-icon-button matSuffix (click)="search()">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </form>

    </div>
        
</div>

<div class="row" id="search-results">

    <div class="col s4" *ngFor="let equipment of $queryResults">
        <app-equipment-preview [equipment]="equipment">
        </app-equipment-preview>
    </div>

</div>

