<mat-toolbar>
    <span>CCDR</span>
    <span class="spacer"></span>
    <a routerLink='/home/search' routerLinkActive="active" mat-button class="icon search-icon" aria-label="icon-button with search icon">
        <mat-icon>search</mat-icon>
    </a>
    <a routerLink="/home/add_equipment" routerLinkActive="active" mat-button class="icon add-icon" aria-label="icon-button with add icon">
        <mat-icon>add</mat-icon>
    </a>
    <a routerLink="/home/add_infrastructure" routerLinkActive="active" mat-button class="icon add-icon" aria-label="icon-button with add icon">
        <mat-icon>domain</mat-icon>
    </a>
</mat-toolbar>