<nav [ngStyle]="{'background': background}">

    <a id="logo" routerLinkActive="active" routerLink='/home'>
     
    </a>
    <a id="login" routerLink='/home/login' *ngIf="!isLoggedIn()" routerLinkActive="active" mat-button
        class="icon login-icon" aria-label="icon-button with search icon">
        Login
    </a>
    <a routerLink='/home/profile' *ngIf="isLoggedIn()" routerLinkActive="active" mat-button class="icon person-icon"
        aria-label="icon-button with search icon">
        <mat-icon>person</mat-icon>
    </a>
    <a id="login" (click)="logout()" routerLink='/home/login' *ngIf="isLoggedIn()" routerLinkActive="active" mat-button
        class="icon login-icon" aria-label="icon-button with search icon">
        Logout
    </a>
</nav>