<mat-toolbar>
    <a mat-button routerLinkActive="active" routerLink='/home/search'>CCDR</a>
    <span class="spacer"></span>
    <a routerLink='/home/search' routerLinkActive="active" mat-button class="icon search-icon" aria-label="icon-button with search icon">
        <mat-icon>search</mat-icon>
    </a>
    <a routerLink='/home/login' *ngIf="!isLoggedIn()" routerLinkActive="active" mat-button class="icon login-icon" aria-label="icon-button with search icon">
        <mat-icon>login</mat-icon>
    </a>
    <a routerLink="/home/add_equipment" *ngIf="isLoggedIn()" routerLinkActive="active" mat-button class="icon add-icon" aria-label="icon-button with add icon">
        <mat-icon>add</mat-icon>
    </a>
    <a routerLink="/home/add_infrastructure" *ngIf="isLoggedIn()" routerLinkActive="active" mat-button class="icon add-icon" aria-label="icon-button with add icon">
        <mat-icon>domain</mat-icon>
    </a>
    <a routerLink='/home/profile' *ngIf="isLoggedIn()" routerLinkActive="active" mat-button class="icon person-icon" aria-label="icon-button with search icon">
        <mat-icon>person</mat-icon>
    </a>
</mat-toolbar>