@import "/src/styles.sass"
    
nav
    height: 120px !important
    display: flex
    align-items: center
    justify-content: flex-end
    box-shadow: none!important

    #login
        width: 106px
        height: 45.342px
        margin-right: 46.3066px
        color: white
        background-color: none
        border: white 1.5px solid
        border-radius: 27.671px
        font-size: 21.04px
        text-align: center
        line-height: 40px
        font-family: $main-font