<form [formGroup]="searchFormGroup" (keydown.enter)="search()" class="full-width" appearance="fill">
    <div [ngClass]="{'dropped': dropdownVisible }">
        <div class="input-field">
            <a id="search-icon">
            </a>
            <input (focus)="onFocus()" (focusout)="onFocusOut()" placeholder="Pesquise aqui"
                formControlName="searchValue">
            <a id="search-btn" (click)="search()">
            </a>
        </div>
    </div>

    <div id="top-5" [hidden]="!dropdownVisible">
        <ul>
            <li class="last-search" *ngFor="let item of lastSearch">
                <a class="last-search-icon">
                </a>
                <span class="truncate left-align">{{item}}</span>
            </li>
        </ul>
    </div>
</form>