<form [formGroup]="form">

    <div formArrayName="extras">
        <div *ngFor="let extra of form.controls.extras.controls; let i=index" [formGroupName]="i" layout-align="center">
            <div class="row form-row">
                <div class="col s5">
                    <div class="label">
                        Nome
                    </div>
                    <div class="input-field">
                        <input placeholder="Nome" formControlName="extra.controls.name" type="text">
                    </div>
                </div>
                <div class="col s5">
                    <div class="label">
                        Valor
                    </div>
                    <div class="input-field">
                        <input placeholder="Nome" formControlName="extra.controls.value" type="text">
                    </div>
                </div>
                <div class="col s2">
                    <button (click)="deleteExtraControl(i)">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                <button (click)="newExtraControl()" layout-align="center">Adicionar nova
                    propriedade</button>
            </div>
        </div>
    </div>


</form>