<p *ngIf="details.num_operadores !== null">num_operadores: {{details.num_operadores }}</p>
<p *ngIf="details.tipo_energia !== null">tipo_energia: {{details.tipo_energia }}</p>
<p *ngIf="details.lojas_por_operador !== null">lojas_por_operador: {{details.lojas_por_operador }}</p>
<p *ngIf="details.agentes_por_operador !== null">agentes_por_operador: {{details.agentes_por_operador }}</p>


<div *ngIf="isGas(details); else second">
    <p *ngIf="details.energy_details.num_consumo_gas !== null">num_consumo_gas:
        {{details.energy_details.num_consumo_gas}}
    </p>

    <p *ngIf="details.energy_details.consumo_gas !== null">consumo_gas: {{details.energy_details.consumo_gas}}
    </p>

    <p *ngIf="details.energy_details.pontos_acesso !== null">pontos_acesso: {{details.energy_details.pontos_acesso}}
    </p>
</div>

<ng-template #second>
    <div *ngIf="isElectricity(details); else elseBlock">
        <p *ngIf="details.energy_details.num_consumo_elec_p_atividade !== null">num_consumo_elec_p_atividade:
            {{details.energy_details.num_consumo_elec_p_atividade}}
        </p>
        <p *ngIf="details.energy_details.consumo_elec_p_atividade !== null">consumo_elec_p_atividade:
            {{details.energy_details.consumo_elec_p_atividade}}
        </p>
    </div>
</ng-template>

<ng-template #elseBlock>
</ng-template>