<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <label class="common-font" for="email" >Email</label>
            <input class="box" id="email" type="email" formControlName="email"/>
        </div>
        <div class="input-group">
            <label class="common-font" for="pass">Password</label>
            <input class="box" id="pass" type="password" formControlName="password"/>
        </div>
        <button type="submit" class="box common-font" id="form-submit-button">
            LOGIN
        </button>
    </form>
</div>