<div class="card">
    <div class="card-content">
        <div class="title-wrapper">
            <span class="card-title">{{equipment.name}}</span>
            <a [ngStyle]="{'background-image': icon}" class="equipment-icon"></a>
        </div>
        <hr>
        <p class="location">Localizacação: Évora</p>
        <p class="description"> {{ equipment.description }} </p>
        <div class="actions">
            <a class="more-btn" *ngIf="!profile"></a>
            <a class="profile-btn" *ngIf="profile">Pré Visualizar</a>
            <a class="profile-btn" *ngIf="profile">Editar</a>
            <a (click)="deleteEquipment(equipment._id, equipment.owner)" class="profile-btn" *ngIf="profile">Apagar</a>
        </div>
    </div>
</div>