<form [formGroup]="socialFormGroup">
    <h4>Social</h4>
    <hr>
    <div class="row">
        <div class="col s6">
            <div class="label">Número de utentes</div>
            <div class="input-field">
                <input placeholder="Placeholder" formControlName="num_utentes" type="number">
            </div>
        </div>
        <div class="col s6">
            <div class="label">Capacidade</div>
            <div class="input-field">
                <input placeholder="Placeholder" formControlName="capacidade" type="number">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="label">Fins lucrativos</div>
            <div class="input-field">
                <select class="browser-default" required formControlName="fins_lucrativos" name="fins_lucrativos"
                    id="fins_lucrativos">
                    <option value="" selected disabled>Selecionar</option>
                    <option [value]="true">Sim</option>
                    <option [value]="false">Não</option>
                </select>
            </div>
        </div>
        <div class="col s6">
            <div class="label">Organização</div>
            <div class="input-field">
                <input matInput placeholder="Placeholder" formControlName="organizacao">
            </div>
        </div>
    </div>
</form>