<p *ngIf="details.iluminado !== null"><b>Iluminado</b>: {{details.iluminado | boolean }}</p>
<p *ngIf="details.tipo_piso !== null"><b>Tipo de piso</b>: {{details.tipo_piso}}</p>
<p *ngIf="details.mobilidade_reduzida_pratica !== null"><b>Possibilida de prática com mobilidade reduzida</b>: {{details.mobilidade_reduzida_pratica| boolean }}</p>
<p *ngIf="details.mobilidade_reduzida_assistencia !== null"><b>Assistência a prática com mobilidade reduzida</b>: {{details.mobilidade_reduzida_assistencia| boolean }}</p>