<mat-icon [svgIcon]="groupAreaIconsProvider.getIconName(equipment.group, equipment.area)"> </mat-icon>{{equipment.name}}
<p>{{equipment.description}}</p>

<p *ngIf="equipment.numero_de_equipamentos"><b>Número de equipamentos</b>: {{ equipment.numero_de_equipamentos }} </p>

<h1>Contactos</h1>
<mat-icon> location_on</mat-icon><span *ngIf="equipment.localizacao !== undefined">Localizacao: {{ equipment.localizacao
    }}</span>

<h1>Horário</h1>

<div *ngIf="isEquipment(equipment); else second">
    <container-element [ngSwitch]="equipment.area">

        <app-culture-details *ngIf="isCulture(equipment); else firstsecond" [details]="equipment.equipmentDetails">
        </app-culture-details>

        <ng-template #firstsecond>
            <app-sport-details *ngIf="isSport(equipment); else firstthird" [details]="equipment.equipmentDetails">
            </app-sport-details>
        </ng-template>

        <ng-template #firstthird>
            <app-social-details *ngIf="isSocial(equipment); else firstfourth" [details]="equipment.equipmentDetails">
            </app-social-details>
        </ng-template>

        <ng-template #firstfourth>
            <app-health-details *ngIf="isHealth(equipment); else firstfifth" [details]="equipment.equipmentDetails">
            </app-health-details>
        </ng-template>

        <ng-template #firstfifth>
            <app-education-details *ngIf="isEducation(equipment)" [details]="equipment.equipmentDetails">
            </app-education-details>
        </ng-template>

    </container-element>
</div>

<ng-template #second>
    <div *ngIf="isInfra(equipment)">
        <app-energy-details *ngIf="isEnergy(equipment); else secondsecond" [details]="equipment.equipmentDetails">
        </app-energy-details>

        <ng-template #secondsecond>
            <app-communication-details *ngIf="isCommunication(equipment)" [details]="equipment.equipmentDetails">
            </app-communication-details>
        </ng-template>

    </div>
</ng-template>


<p *ngFor="let item of equipment.extras">
    <b>{{item.name}}</b>: {{item.value}}
</p>