<p *ngIf="details.num_operadores !== null"><b>num_operadores</b>: {{details.num_operadores }}</p>
<p *ngIf="details.tipo_comunicacao !== null"><b>tipo_comunicacao</b>: {{details.tipo_comunicacao }}</p>
<p *ngIf="details.lojas_por_operador !== null"><b>lojas_por_operador</b>: {{details.lojas_por_operador }}</p>
<p *ngIf="details.cobertura_por_operador !== null"><b>cobertura_por_operador</b>: {{details.cobertura_por_operador }}</p>


<div *ngIf="isTelephone(details); else second">
    <p *ngIf="details.communication_details.num_postos !== null"><b>num_postos</b>:
        {{details.communication_details.num_postos}}
    </p>

    <p *ngIf="details.communication_details.num_acessos !== null"><b>num_acessos</b>:
        {{details.communication_details.num_acessos}}
    </p>

    <p *ngIf="details.communication_details.num_acessos_p_100 !== null"><b>num_acessos_p_100</b>:
        {{details.communication_details.num_acessos_p_100}}
    </p>

    <p *ngIf="details.communication_details.num_postos_publicos !== null"><b>num_postos_publicos</b>:
        {{details.communication_details.num_postos_publicos}}
    </p>

    <p *ngIf="details.communication_details.num_clientes !== null"><b>num_clientes</b>:
        {{details.communication_details.num_clientes}}
    </p>
</div>

<ng-template #second>
    <div *ngIf="isInternet(details); else third">
        <p *ngIf="details.communication_details.num_clientes_banda_larga !== null"><b>num_clientes_banda_larga</b>:
            {{details.communication_details.num_clientes_banda_larga}}
        </p>
        <p *ngIf="details.communication_details.num_acessos_banda_larga_100 !== null"><b>num_acessos_banda_larga_100</b>:
            {{details.communication_details.num_acessos_banda_larga_100}}
        </p>
        <p *ngIf="details.communication_details.num_acessos_banda_larga !== null"><b>num_acessos_banda_larga</b>:
            {{details.communication_details.num_acessos_banda_larga}}
        </p>
    </div>
</ng-template>

<ng-template #third>
    <div *ngIf="isMail(details); else fourth">
        Detalhes:
        <ul>
            <li *ngFor="let item of this.details.communication_details">
                {{ item[0] | location }}
                <ul>
                    <li>
                        numPosts
                        <ul>
                            <li *ngFor="let item of item[1].numPosts">
                                {{ item[0] }}: {{ item[1] }}
                            </li>
                        </ul>
                    </li>



                    <li>
                        numStations
                        <ul>
                            <li *ngFor="let item of item[1].numStations">
                                {{ item[0] }}: {{ item[1] }}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #fourth>
    <div *ngIf="isTV(details)">
        <p *ngIf="details.communication_details.num_subscricoes !== null"><b>num_subscricoes</b>:
            {{details.communication_details.num_subscricoes}}
        </p>
        <p *ngIf="details.communication_details.num_clientes !== null"><b>num_clientes</b>:
            {{details.communication_details.num_clientes}}
        </p>
    </div>
</ng-template>