<mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
        <mat-card>
            <form [formGroup]="equipmentFormGroup" (ngSubmit)="formSubmit()">
                <p>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Select</mat-label>
                        <mat-select formControlName="area">
                            <mat-option value="social">Social</mat-option>
                            <mat-option value="cultura">Cultura</mat-option>
                            <mat-option value="educacao">Educação</mat-option>
                            <mat-option value="desporto">Desporto</mat-option>
                            <mat-option value="saude">Saúde</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Legacy form field</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="type">
                    </mat-form-field>
                </p>

                <button mat-raised-button type="submit" layout-align="center" color="warn">Add Equipment</button>
            </form>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>