<div class="row wrapper-row">

    <form [formGroup]="infrastructureFormGroup" #formDirective="ngForm" (ngSubmit)="formSubmit(formDirective)">
        <h5>Formulário de Registo</h5>
        <hr>
        <div class="row">
            <div class="col s6">
                <div class="label">Denominação da Infraestrutura</div>
                <div class="input-field">
                    <input required placeholder="Denominação da infraestrutura" formControlName="name">
                </div>
            </div>

            <div class="col s6">
                <div class="label">Área da Infraestrutura</div>
                <div class="input-field">
                    <select class="browser-default" required formControlName="area" name="area" id="area">
                        <option value="" selected disabled>Selecionar</option>
                        <option value="energia">Energia</option>
                        <option value="comunicacao">Comunicação</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="label">Descrição</div>
                <div class="input-field text-area">
                    <textarea formControlName="description" placeholder="Descrição da infraestrutura a inserir"
                        name="description" cols="20" rows="5"></textarea>
                </div>
            </div>
        </div>


        <div class="row" formGroupName="location">

            <div class="row">
                <div class="col s6">
                    <div class="label">Distrito</div>
                    <div class="input-field">

                        <input placeholder="Placeholder" formControlName="state" type="text">
                    </div>
                </div>

                <div class="col s6">
                    <div class="label">Cidade</div>
                    <div class="input-field">

                        <input placeholder="Placeholder" formControlName="city" type="text">
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col s6">
                    <div class="label">Rua</div>
                    <div class="input-field">

                        <input placeholder="Placeholder" formControlName="street" type="text">
                    </div>
                </div>

                <div class="col s6">
                    <div class="label">Código Postal</div>
                    <div class="input-field">

                        <input placeholder="Placeholder" formControlName="zipCode" type="text"
                            pattern="[0-9]{4}-[0-9]{3}">
                    </div>

                </div>

            </div>
        </div>

        <app-energy-form [hidden]="currentArea() != 'energia'"></app-energy-form>
        <app-communication-form [hidden]="currentArea() != 'comunicacao'"></app-communication-form>

        <div class="row">
            <button *ngIf="!update" type="submit" id="submit-equipment">Adicionar Infraestrutura</button>
            <button *ngIf="update" type="submit" id="submit-equipment">Actualizar Infraestrutura</button>
        </div>
    </form>
</div>