<p *ngIf="details.num_utentes !== null">Número de utentes: {{details.num_utentes }}</p>


<div *ngIf="isHospital(details); else second">
    <p *ngIf="details.healh_details.num_equipamentos_por_especialidade !== null">Equipamentos por especialidade:
        {{details.healh_details.num_equipamentos_por_especialidade}}
    </p>
    <p *ngIf="details.healh_details.tipo_unidades !== null">Unidades: {{details.healh_details.tipo_unidades}}
    </p>

    <p *ngIf="details.healh_details.agrupamento_saude !== null">Agrupamento de saude:
        {{details.healh_details.agrupamento_saude}}
    </p>

    <p *ngIf="details.healh_details.centro_hospitalar !== null">Centro Hospitalar:
        {{details.healh_details.centro_hospitalar}}
    </p>

    <p *ngIf="details.healh_details.valencias !== null">Valencias: {{details.healh_details.valencias}}
    </p>

    <p *ngIf="details.healh_details.especialidades !== null">Especialidades: {{details.healh_details.especialidades}}
    </p>

</div>

<ng-template #second>
    <div *ngIf="isGeneral(details); else elseBlock">
        <p *ngIf="details.healh_details.capacidade !== null">Capacidade: {{details.healh_details.capacidade}}
        </p>
        <p *ngIf="details.healh_details.num_centros_saude !== null">Número de centros de saúde:
            {{details.healh_details.num_centros_saude}}
        </p>
    </div>
</ng-template>

<ng-template #elseBlock>
</ng-template>